<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.android.capture_image"
	>

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application>

		<activity
			android:name="net.twisterrob.android.activity.CaptureImage"
			android:exported="false"
			android:screenOrientation="fullUser"
			>
			<intent-filter>
				<action android:name="net.twisterrob.android.intent.action.CAPTURE_IMAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

	</application>

</manifest>
