# Gradle
.gradle/
# rootProject, modules|buildSrc, submodules|gradle/plugins, contracts
/build/
/*/build/
/*/*/build/
/*/*/*/build/
/gradled.bat

# IntelliJ IDEA / Android Studio
*.iml
*.ipr
*.iws
/captures/
.idea/
!/.idea/runConfigurations/

# Other
/temp/
local.properties

# Project
/android/database/src/main/assets/MagicHomeInventory.data.Categories.sql
/android/data/src/main/res/raw/icon_previews.html
