<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.inventory"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" /> <!-- ViewServer -->

	<application
		android:name="net.twisterrob.inventory.android.App"
		android:allowBackup="true"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<activity android:name="net.twisterrob.inventory.android.activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.default_searchable"
				android:value="net.twisterrob.inventory.android.activity.SearchResultsActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.WelcomeActivity"
			android:label="@string/app_name">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.PickDriveFileActivity"
			android:label="@string/app_name">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.SearchResultsActivity"
			android:label="@string/action_search"
			android:icon="@android:drawable/ic_menu_search"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity" />
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable_suggest" />
		</activity>
		<provider
			android:name="net.twisterrob.inventory.android.content.SearchSuggestProvider"
			android:authorities="net.twisterrob.inventory.suggest"
			android:syncable="false" />
		<activity
			android:name="net.twisterrob.inventory.android.activity.CaptureImage"
			android:label="@string/action_picture_take"
			android:screenOrientation="fullSensor" />
		<activity
			android:name="net.twisterrob.inventory.android.activity.SunBurstActivity"
			android:label="@string/sunburst_title" />
		<activity
			android:name="net.twisterrob.inventory.android.activity.CategoryViewActivity"
			android:label="@string/category_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.CategoryItemsActivity"
			android:label="@string/category_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.CategoryViewActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.PropertyListActivity"
			android:label="@string/property_list">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.PropertyEditActivity"
			android:label="@string/property_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.PropertyListActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.PropertyViewActivity"
			android:label="@string/property_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.PropertyListActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.RoomEditActivity"
			android:label="@string/room_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.PropertyViewActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.RoomViewActivity"
			android:label="@string/room_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.PropertyViewActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.ItemViewActivity"
			android:label="@string/item_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.RoomViewActivity" />
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.ItemEditActivity"
			android:label="@string/item_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.ItemViewActivity" />
		</activity>
	</application>
</manifest>
