<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="net.twisterrob.android"
	>

	<!-- TODEL for what? -->
	<!--  <uses-permission android:name="android.permission.INTERNET" />-->

	<!-- TODEL for what? -->
	<!--  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

	<!--
		com.rarepebble:colorpicker=11
		Usages are behind @TargetApi(VERSION_CODES.HONEYCOMB).
	-->
	<uses-sdk tools:overrideLibrary="com.rarepebble.colorpicker" />

</manifest>
