<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.android.about">

	<application>

		<activity
			android:name="net.twisterrob.android.activity.AboutActivity"
			android:label="@string/about_title"
			android:exported="false"
			>
			<meta-data
				android:name="net.twisterrob.android.about.email"
				android:value="feedback@twisterrob.net" />
		</activity>

	</application>

</manifest>
