<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<activity
			android:name="net.twisterrob.inventory.android.activity.dev.DeveloperActivity"
			android:label="Developer Tools"
			android:theme="@android:style/Theme">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.dev.DeveloperDriveActivity"
			android:label="Inventory DEV">
		</activity>
	</application>
</manifest>
