<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<application>
		<activity
			android:name="net.twisterrob.inventory.android.activity.dev.DeveloperActivity"
			android:label="@string/dev_title"
			android:theme="@android:style/Theme">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="net.twisterrob.inventory.android.activity.dev.DeveloperDriveActivity"
			android:label="@string/dev_title">
		</activity>
	</application>
</manifest>
