<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- Used by BackupService -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<!-- net.twisterrob.inventory.android.fragment.BackupControllerFragment.doImport -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

	<application>

		<activity
			android:name="net.twisterrob.inventory.android.activity.BackupActivity"
			android:label="Backup"
			android:launchMode="singleTop">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>

		<service
			android:name="net.twisterrob.inventory.android.backup.concurrent.BackupService"
			android:label="Background Import/Export"
			android:enabled="true"
			android:exported="false"
			android:foregroundServiceType="dataSync"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:stopWithTask="false"
			/>

	</application>

</manifest>
