<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.android.test.espresso.test"
	>

	<application>

		<activity
			android:name="net.twisterrob.android.test.espresso.EspressoExtensionsTest_onActionMenuView$TestActivity"
			android:theme="@android:style/Theme.WithActionBar"
			/>

	</application>

</manifest>
