<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.android.test.espresso"
	>

	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />

	<application>

		<activity
			android:name="net.twisterrob.inventory.android.test.activity.TestActivity"
			android:label="TestActivity"
			/>

		<activity
			android:name="net.twisterrob.inventory.android.test.activity.TestActivityCompat"
			android:label="TestActivityCompat"
			/>

	</application>

</manifest>
