<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="net.twisterrob.android"
	>

	<!-- TODEL for what? -->
	<!--  <uses-permission android:name="android.permission.INTERNET" />-->

	<!-- TODEL for what? -->
	<!--  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

	<!--
		android.support.test.uiautomator.v18=18
		Not using it in this module, but on classpath,
		lint will hopefully find the usages and notice that it's not callable from everywhere.

		com.rarepebble:colorpicker=11
		Usages are behind @TargetApi(VERSION_CODES.HONEYCOMB).
	-->
	<uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18,com.rarepebble.colorpicker" />

</manifest>
