<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="net.twisterrob.android"
	>

	<!-- TODO for what? -->
	<!--  <uses-permission android:name="android.permission.INTERNET" />-->
	<!-- TODO for what? -->
	<!--  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

	<application>
		<!--
		<activity
			android:name="net.twisterrob.android.activity.CaptureImage"
			android:label="Take picture"
			android:exported="false"
			android:screenOrientation="fullSensor"
			>
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
			<uses-feature android:name="android.hardware.camera" android:required="false" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</activity>
		-->
	</application>

</manifest>
