<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.twisterrob.inventory.android">

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!-- ViewServer needs INTERNET -->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".App"
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:allowBackup="true"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="UnusedAttribute">
		<meta-data
			android:name="android.app.default_searchable"
			android:value=".activity.SearchResultsActivity" />
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<activity android:name=".activity.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.PreferencesActivity"
			android:label="@string/pref_activity_title" />
		<activity
			android:name=".activity.dev.PickDriveFileActivity"
			android:label="@string/app_name">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.SearchResultsActivity"
			android:label="@string/action_search"
			android:icon="@android:drawable/ic_menu_search"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.MainActivity" />
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable_suggest" />
		</activity>
		<activity
			android:name=".activity.CaptureImage"
			android:label="@string/action_picture_take"
			android:screenOrientation="fullSensor" />
		<activity
			android:name=".activity.ExportActivity"
			android:label="Export" />
		<activity
			android:name=".activity.ImportActivity"
			android:label="Import" />
		<activity
			android:name=".activity.data.SunBurstActivity"
			android:label="@string/sunburst_title" />
		<activity
			android:name=".activity.data.CategoryViewActivity"
			android:label="@string/category_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.data.CategoryItemsActivity"
			android:label="@string/category_items">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.CategoryViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.PropertyListActivity"
			android:label="@string/property_list">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.data.PropertyEditActivity"
			android:label="@string/property_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.PropertyListActivity" />
		</activity>
		<activity
			android:name=".activity.data.PropertyViewActivity"
			android:label="@string/property_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.PropertyListActivity" />
		</activity>
		<activity
			android:name=".activity.data.RoomEditActivity"
			android:label="@string/room_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.PropertyViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.RoomViewActivity"
			android:label="@string/room_details">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.PropertyViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.ItemViewActivity"
			android:label="@string/item_details">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.net.twisterrob.inventory.item" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.RoomViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.ItemEditActivity"
			android:label="@string/item_edit"
			android:windowSoftInputMode="adjustResize">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".activity.ItemViewActivity" />
		</activity>

		<provider
			android:name=".content.InventoryProvider"
			android:authorities="net.twisterrob.inventory"
			android:exported="true"
			android:grantUriPermissions="true"
			android:readPermission="net.twisterrob.inventory.READ"
			android:writePermission="net.twisterrob.inventory.WRITE" />

		<!-- Developer Activities -->
		<activity
			android:name=".activity.dev.DeveloperActivity"
			android:label="@string/dev_title"
			android:theme="@android:style/Theme">
			<!--<intent-filter>-->
			<!--<action android:name="android.intent.action.MAIN" />-->
			<!--<category android:name="android.intent.category.LAUNCHER" />-->
			<!--</intent-filter>-->
		</activity>
		<activity
			android:name=".activity.dev.DeveloperDriveActivity"
			android:label="@string/dev_title">
		</activity>

	</application>
</manifest>
