<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	>

	<!-- ViewServer needs INTERNET -->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="net.twisterrob.inventory.android.DebugApp"
		android:vmSafeMode="true"
		tools:replace="android:name"
		>

		<!--suppress AndroidDomInspection workaround for https://github.com/TWiStErRob/net.twisterrob.inventory/issues/309 -->
		<activity
			android:name="net.twisterrob.inventory.android.test.activity.ScopedStorageSaver"
			android:label="ScopedStorageSaver"
			tools:ignore="MissingClass"
			>
			<!-- lint:MissingClass workaround for https://github.com/TWiStErRob/net.twisterrob.inventory/issues/309 -->
		</activity>

		<!--suppress AndroidDomInspection workaround for https://github.com/TWiStErRob/net.twisterrob.inventory/issues/309 -->
		<activity
			android:name="net.twisterrob.inventory.android.test.activity.CompatibleLauncher"
			android:label="CompatibleLauncher"
			tools:ignore="MissingClass"
			>
			<!-- lint:MissingClass workaround for https://github.com/TWiStErRob/net.twisterrob.inventory/issues/309 -->
		</activity>

	</application>

</manifest>
