<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:sharedUserId="net.twisterrob.inventory">

	<!-- ViewServer needs INTERNET -->
	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name="net.twisterrob.inventory.android.DebugApp"
		tools:ignore="AllowBackup"
		tools:replace="android:name"
		>
		<!-- lint:AllowBackup REPORT false positive, because main/AndroidManifest.xml is set up. -->
	</application>

</manifest>
