main:
<meta-data
	android:name="com.google.android.gms.version"
	android:value="@integer/google_play_services_version" />

<activity
android:name=".activity.dev.PickDriveFileActivity">
<meta-data android:name="android.support.PARENT_ACTIVITY"
           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
</activity>
<activity
android:name=".activity.ExportGoogleActivity"
android:label="Export" />
<activity
android:name=".activity.ImportGoogleActivity"
android:label="Import" />

	debug:
<activity
android:name="net.twisterrob.inventory.android.activity.dev.DeveloperDriveActivity"
android:label="Inventory DEV">
</activity>
