<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<application>

		<activity
			android:name="net.twisterrob.inventory.android.space.ManageSpaceActivity"
			android:label="@string/manage_space_title"
			android:launchMode="singleInstance"
			android:process=":managespace"
			/>

	</application>

</manifest>
