<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	>

	<!-- Normally added by Gradle: <instrumentation android:name="....AndroidJUnitRunner" ... />
	     @see build.gradle: android.defaultConfig.testInstrumentationRunner
	     Need to duplicate the name attribute to help the manifest merger (element looked up via android:name as key).
	-->
	<!--suppress AndroidDomInspection android:package is merged in by Gradle -->
	<instrumentation android:name="net.twisterrob.inventory.android.InventoryJUnitRunner">
		<!--suppress AndroidElementNotAllowed Undocumented that <instrumentation> can have <meta-data> children,
		    but this is the way to parameterize the runner:
		    `context.packageManager.getInstrumentationInfo(...).metaData` is the way to read it.
		-->
		<meta-data android:name="defaultExcludedPackages"
		           android:value="net.twisterrob.inventory.android.test.suites,net.twisterrob.inventory.android.upgrade" />
	</instrumentation>

	<!-- Used by net.twisterrob.android.test.matchers.HasInstalledPackage -->
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

	<application
		android:label="@string/app_name"
		android:process="net.twisterrob.inventory.debug">
		<!-- Automatically added by Gradle: -->
		<!--<uses-library android:name="android.test.runner" />-->

		<activity
			android:name="net.twisterrob.inventory.android.test.activity.CompatibleLauncher"
			android:label="CompatibleLauncher"
			/>

		<activity
			android:name="net.twisterrob.inventory.android.test.activity.ScopedStorageSaver"
			android:label="ScopedStorageSaver"
			/>

	</application>

	<queries>
		<!-- net.twisterrob.inventory.android.test.actors.BackupActivityActor.DriveBackupActor.assumeDriveInstalled -->
		<package android:name="com.google.android.apps.docs" />
	</queries>

</manifest>
