<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.inventory.android.test"
	android:sharedUserId="net.twisterrob.inventory">

	<!--
		The following classes access the device storage:
		org.junit.rules.TemporaryFolder
	-->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<!-- Normally added by Gradle: <instrumentation android:name="....AndroidJUnitRunner" ... />
	     @see build.gradle: android.defaultConfig.testInstrumentationRunner
	     Need to duplicate the name attribute to help the manifest merger (element looked up via android:name as key).
	-->
	<!--suppress AndroidDomInspection android:package is merged in by Gradle -->
	<instrumentation android:name="net.twisterrob.android.test.junit.AndroidJUnitRunner">
		<!--suppress AndroidElementNotAllowed Undocumented that <instrumentation> can have <meta-data> children,
		    but this is the way to parameterize the runner:
		    `context.packageManager.getInstrumentationInfo(...).metaData` is the way to read it.
		-->
		<meta-data android:name="defaultExcludedPackages"
		           android:value="net.twisterrob.inventory.android.test.suites" />
	</instrumentation>

	<application
		android:label="@string/app_name"
		android:process="net.twisterrob.inventory.debug">
		<!-- Automatically added by Gradle: -->
		<!--<uses-library android:name="android.test.runner" />-->

		<activity
			android:name="net.twisterrob.inventory.android.test.activity.CompatibleLauncher"
			android:label="CompatibleLauncher"
			/>

	</application>
</manifest>
