<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="auto">

	<!-- Used by Import/Export -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<!-- Used by BackupService -->
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

	<application
		android:name="net.twisterrob.inventory.android.App"
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:allowBackup="true"
		android:manageSpaceActivity="net.twisterrob.inventory.android.activity.space.ManageSpaceActivity"
		android:requestLegacyExternalStorage="true"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppTheme"
		tools:ignore="AllowBackup,UnusedAttribute">
		<!-- lint:AllowBackup not using fullBackupContent, default "Auto Backup" is fine. -->
		<!-- lint:UnusedAttribute Backup screen and getPhoneHome accesses the Download folder. (#179) -->

		<meta-data
			android:name="net.twisterrob.inventory.android.Constants$Pic$GlideSetup"
			android:value="GlideModule" />

		<activity
			android:name=".activity.MainActivity"
			android:label="@string/home_title"
			android:launchMode="singleTop"
			android:windowSoftInputMode="adjustNothing">
			<intent-filter android:label="@string/app_name_short">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable"
			           android:value="net.twisterrob.inventory.android.activity.SearchResultsActivity" />
		</activity>
		<activity
			android:name=".activity.PreferencesActivity"
			android:label="@string/pref_activity_title" />
		<activity
			android:name=".activity.SearchResultsActivity"
			android:label="@string/action_search"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable_suggest" />
		</activity>
		<!-- Just adds a label, the rest is in the lib -->
		<activity
			android:name="net.twisterrob.android.activity.CaptureImage"
			android:label="@string/action_picture_take"
			/>
		<activity
			android:name="net.twisterrob.inventory.android.activity.ImageActivity"
			android:label="@string/image_title"
			android:exported="false"
			android:screenOrientation="fullSensor"
			android:theme="@style/Theme.AppTheme.FullScreen"
			/>
		<activity
			android:name=".activity.space.ManageSpaceActivity"
			android:label="@string/manage_space_title"
			android:launchMode="singleInstance"
			android:process=":managespace" />
		<activity
			android:name=".activity.BackupActivity"
			android:label="Backup"
			android:launchMode="singleTop">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.data.MoveTargetActivity"
			android:label="@string/action_move"
			android:excludeFromRecents="true"
			android:theme="@style/Theme.AppTheme.Dialog.Move"
			/>
		<activity
			android:name=".activity.ListsActivity"
			android:label="@string/list_list"
			android:excludeFromRecents="true"
			android:theme="@style/Theme.AppTheme.Dialog"
			/>
		<activity
			android:name=".activity.data.ListItemsActivity"
			android:label="@string/list_details"
			android:windowSoftInputMode="adjustNothing">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.data.CategoryActivity"
			android:label="@string/category_details">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
			<meta-data android:name="android.support.PARENT_ACTIVITY_RECURSIVE"
			           android:value="net.twisterrob.inventory.android.activity.data.CategoryActivity" />
		</activity>
		<activity
			android:name=".activity.data.PropertyEditActivity"
			android:label="@string/property_edit"
			android:windowSoftInputMode="adjustResize|stateHidden">
		</activity>
		<activity
			android:name=".activity.data.PropertyViewActivity"
			android:label="@string/property_details"
			android:windowSoftInputMode="adjustNothing">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.MainActivity" />
		</activity>
		<activity
			android:name=".activity.data.RoomEditActivity"
			android:label="@string/room_edit"
			android:windowSoftInputMode="adjustResize|stateHidden">
		</activity>
		<activity
			android:name=".activity.data.RoomViewActivity"
			android:label="@string/room_details"
			android:windowSoftInputMode="adjustNothing">
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.data.PropertyViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.ItemViewActivity"
			android:label="@string/item_details"
			android:windowSoftInputMode="adjustNothing">
			<intent-filter tools:ignore="AppLinkUrlError">
				<!-- CONSIDER AppLinkUrlError: review app linking (private indexing) -->
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<!-- TODEL AppLinkUrlError false positive due to ${} https://issuetracker.google.com/issues/79995047 -->
				<data android:mimeType="vnd.android.cursor.item/vnd.${applicationId}.item" />
			</intent-filter>
			<meta-data android:name="android.support.PARENT_ACTIVITY"
			           android:value="net.twisterrob.inventory.android.activity.data.RoomViewActivity" />
			<meta-data android:name="android.support.PARENT_ACTIVITY_RECURSIVE"
			           android:value="net.twisterrob.inventory.android.activity.data.ItemViewActivity" />
		</activity>
		<activity
			android:name=".activity.data.ItemEditActivity"
			android:label="@string/item_edit"
			android:windowSoftInputMode="adjustResize|stateHidden">
		</activity>
		<activity
			android:name=".sunburst.SunburstActivity"
			android:label="@string/sunburst_title">
		</activity>

		<provider
			android:name=".content.InventoryProvider"
			android:authorities="@string/app_package"
			android:exported="true"
			android:grantUriPermissions="true"
			android:readPermission="net.twisterrob.inventory.READ"
			android:writePermission="net.twisterrob.inventory.WRITE">
		</provider>
		<provider
			android:name=".content.FileProvider"
			android:authorities="${applicationId}.share"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths_share" />
		</provider>

		<service
			android:name=".backup.concurrent.BackupService"
			android:label="Background Import/Export"
			android:enabled="true"
			android:exported="false"
			android:stopWithTask="false"
			tools:ignore="UnusedAttribute"
			>
			<!-- lint:UnusedAttribute stopWithTask is API 14+, using as best effort. -->
		</service>
		<service
			android:name=".content.db.DatabaseService"
			android:label="Background Database Operations"
			android:enabled="true"
			android:exported="false"
			android:stopWithTask="true"
			tools:ignore="UnusedAttribute"
			>
			<!-- lint:UnusedAttribute stopWithTask is API 14+, using as best effort. -->

			<intent-filter>
				<!-- Actions' constants available in service class -->
				<action android:name="net.twisterrob.inventory.action.OPEN_DATABASE" />
				<action android:name="net.twisterrob.inventory.action.UPDATE_LANGUAGE" />
				<action android:name="net.twisterrob.inventory.action.PRELOAD_CATEGORIES" />
				<action android:name="net.twisterrob.inventory.action.VACUUM_INCREMENTAL" />
			</intent-filter>
		</service>
	</application>
</manifest>
