<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application>

		<activity
			android:name="net.twisterrob.inventory.android.activity.PreferencesActivity"
			android:label="@string/pref_activity_title"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity"
				/>
		</activity>

	</application>

</manifest>
