<manifest
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application>

		<activity
			android:name="net.twisterrob.inventory.android.activity.PreferencesActivity"
			android:label="@string/pref_activity_title"
			>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="net.twisterrob.inventory.android.activity.MainActivity"
				/>
		</activity>

	</application>

	<queries>

		<!-- src/main/res/xml/preferences.xml -->
		<intent>
			<action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
		</intent>

		<!-- src/main/res/xml/preferences.xml -->
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="market" android:host="details" />
		</intent>

		<!-- src/main/res/xml/preferences.xml -->
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="https" android:host="www.twisterrob.net" />
		</intent>

		<!-- src/main/res/xml/preferences.xml -->
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="mailto" />
		</intent>

	</queries>

</manifest>
